@model MyEgitimAkademi_Portfolio.Models.Service
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<form method="post">
    <label>Hizmet Başlığını Giriniz</label>
    <input type="text" name="ServiceName" class="form-control"/>
    <br />
    <button class="btn btn-outline-success">Kaydet</button>
</form>

