@model MyEgitimAkademi_Portfolio.Models.Education
@{
    ViewBag.Title = "UpdateEducation";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Eğitim Güncelleme Sayfası</h2>
<form method="post">
    @Html.HiddenFor(x=>x.EducationId)
    <label>Eğitim</label>
    @Html.TextBoxFor(x => x.EducationName, new { @class = "form-control" })
    <br />
    <label>Eğitim Süresi</label>
    @Html.TextBoxFor(x => x.ComplatedMonth, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Ekle</button>
</form>

